/* fieldset and its legend */
fieldset {
  background-color: #eeeeee;
}
/* hide bullets next to radio button */
fieldset.inlineLabels ul {
  list-style: none;
}
/* default style for entire body */
body {
  font-family: Josefin Sans;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}
/* customizable styles for various elements (unused) */
h1 {
  font-family: Josefin Sans;
  font-size: 23px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
}
h3 {
  font-family: Josefin Sans;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
}
p {
  font-family: Josefin Sans;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}
blockquote {
  font-family: Josefin Sans;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}
pre {
  font-family: Josefin Sans;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}
