{% extends "base.html" %}
{% block title %}Formulaire{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
  {% for p_id, p_color in p_id2color.items() %}
  .profile-{{ p_id }}{
    background-color: {{ p_color }};
    color: white;
  }
  {% endfor %}
</style>
{% endblock %}
{% block content %}
<div>
  <form method="POST">
    <div class="div-form-id">
    <fieldset>
      <legend>Identification</legend>
      <table>
      <tr><td style="text-align:right">Nom&nbsp;:</td><td>{{ dataposition_form.name }}</td></tr>
      <tr><td style="text-align:right">Email&nbsp;:</td><td>{{ dataposition_form.email }}</td></tr>
      </table>
    </fieldset>
    </div>
    {% for q_form in dataposition_form.questions %}
    <div>
      <fieldset>
        <legend class="profile-{{ q_form.question.id.split('-', 1)[0] }}">
        {{ q_form.question.label }}
        </legend>
        {% for answer in q_form.question %}
        {{ answer }} {{ answer.label }}<br/>
        {% endfor %}
      </fieldset>
    </div>
    {% endfor %}
    <div class="div-btn-submit">
      <div class="center">
        <button type="submit">Envoyer</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
