{% extends "base.html" %}
{% block title %}Bilan{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
  {% for p_id, p_color in p_id2color.items() %}
  .profile-{{ p_id }}{
    background-color: {{ p_color }};
    color: white;
  }
  {% endfor %}
</style>
{% endblock %}
{% block content %}
  <div>
    <p>Merci {{ name }}, voici votre bilan :</p>
  <div class="profile-{{ main_p_ids[0] }}">
    <table>
      {% for p_id, p_score in profile_scores %}
      <tr><td>{{ p_id2name[p_id] }}&nbsp;</td><td>{{ p_score }}</td></tr>
      {% endfor %}
    </table>
  </div>
  {% if main_profiles|length == 1 %}
  <div class="div-summary-badge">
    Votre profil dominant est :
    <div class="center">
      <img width=100% src="/static/media/{{ main_badges[0] }}" alt="{{ main_profiles[0] }}">
    </div>
  </div>
  <div>
    Vous pouvez maintenant vous rendre sur le <a href="https://forum-databat.ademe.fr/">forum du concours</a>.
    Le badge du profil {{ main_profiles[0] }} sera associé à votre compte, il vous aidera à
    former une équipe complémentaire.
  </div>
  {% else %}
  <div>
    Nous hésitons entre ces profils :
    <ul>
      {% for p_id in main_profiles %}
      <li>{{ p_id }}</li>
      {% endfor%}
    </ul>
    Envoyez-nous <a href="mailto:aide.databat@datactivist.coop?subject=QuelProfil">un mail</a>
    afin que nous puissions déterminer ensemble le profil le plus pertinent.
  </div>
  {% endif %}
{% endblock %}